@model LoginDto
@inject AccountLocalizer _localzier;
@{
    Layout = null;
}

<style>
    #staticBackdrop {
        z-index: 1050 !important; /* Ensure it's above other elements */
    }
    .modal {
        z-index: 1050 !important; /* Bootstrap default z-index for modals */
    }

    .modal-backdrop {
        z-index: 1040 !important; /* Ensure the backdrop is slightly behind the modal */
    }

    .modal-dialog {
        position: relative; /* Ensure positioning is relative for the modal */
        z-index: 1050 !important; /* Ensure it stays on top */
    }
</style>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <div class="modal-block">
                        <div class="modal-block-body">
                            <div class="modal-card">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="login-modal-head">
                                            <img class="login-modal-icon" src="https://limak.az/new_front/assets/img/icons/user-color.svg" alt="">
                                            <h1 class="login-modal-head-title upper">@_localzier.GetValue("LOGIN")</h1>
                                        </div>
                                        <form method="post" class="login-form-action" asp-action="login" asp-controller="account">
                                            <div class="validation-summary">
                                                <div asp-validation-summary="ModelOnly"></div>
                                            </div>
                                            <input asp-for="Email" name="email" id="login-email"
                                                   placeholder="@_localzier.GetValue("EmailAddress")*" class="login-email-input">
                                            <span asp-validation-for="Email"></span>
                                            <div class="login-password-input">
                                                <input asp-for="Password" name="password" id="login-password"
                                                       placeholder="@_localzier.GetValue("Password")*" class="login-email-input">
                                                <span asp-validation-for="Password"></span>
                                                <a class="visibility-btn-password">
                                                    <span class="show-password hide-eye">

                                                    </span>
                                                </a>
                                            </div>
                                            <div class="remember-me-radio">
                                                <div>
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div>
                                                                <input asp-for="RememberMe" id="__Rem-Me" class="_rememberMe" type="checkbox" value="">
                                                                <label for="__Rem-Me" style="font-size: smaller">@_localzier.GetValue("RememberMe")</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-7">
                                                            <div class="text-right">
                                                                <a asp-controller="account" asp-action="ForgotPassword" target="_self">
                                                                    <img src="https://limak.az/new_front/assets/img/icons/help.svg" alt="">
                                                                    <span>@_localzier.GetValue("ForgotPassword")</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="login-submit">
                                                        <button type="submit" class="login-btn-modal">
                                                            <span>@_localzier.GetValue("LoginLowerCase")</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="register-btn-modal">
                                                        <a asp-controller="account" asp-action="register" target="_self" class="register-btn">@_localzier.GetValue("Registration")</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="modal-card-img login-modal-right">
                                            <img src="https://limak.az/new_front/assets/img/login-image.svg"
                                                 class="login-modal-img" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



