@model List<TariffGetDto>
@{
    int count = 1;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slaydlar</h4>
            <p class="card-description">
                <a asp-action="Create" asp-route-countryId="@ViewData["CountryId"]" class="btn btn-success">Yenisini yarat</a>
                <a asp-controller="Country" asp-action="Index" class="btn btn-github">Geriye qayit</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Tariff
                            </th>
                            <th>
                                Qiymet(AZN)
                            </th>
                            <th>
                                Yaranma tarixi
                            </th>
                            <th>
                                Proseslər
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    @(count++)
                                </td>
                                <td>
                                    @item.MinValue - @item.MaxValue kg
                                </td>
                                <td>
                                    @item.Price AZN
                                </td>
                                <td>
                                    @item.CreatedAt
                                </td>
                                <td>
                                    <a asp-action="Update" asp-route-countryId="@ViewData["CountryId"]" asp-route-id="@item.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-danger deleteBtn" onclick="showDeleteModal('@item.Id')">
                                        <i class="mdi mdi-delete"></i>
                                    </a>
                                </td>

                            </tr>

                        }

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu elementi silmək istədiyinizə əminsiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ləğv et</button>
                <a id="confirmDeleteButton" class="btn btn-danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script>
    const controllerName = '@ViewContext.RouteData.Values["controller"]';
</script>