@model ForgotPasswordDto
@inject AccountLocalizer _localizer;

<style>
    .password-recoveryBtn {
        display: flex; /* Enables Flexbox */
        justify-content: space-between; /* Adds space between buttons */
        gap: 10px; /* Adjust the gap between the buttons */
    }

    .recoveryBtn {
        /* Style your buttons as needed */
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-secondary {
        /* Optional, customize secondary button's look if needed */
        padding: 10px 20px;
        font-size: 16px;
    }

</style>
<div class="main-middle-content">

        <!-- Middle Sections -->
        <div>
            <!-- Middle Section -->
            <div class="middlecontainer">   
                <!-- Tariff Plans -->
                 <div class="recovery-main-pg">
                    <div class="recovery-block password-block">
                        <div class="recovery-head">
                            <div>
                            <h4>@_localizer.GetValue("PasswordRecovery")</h4>
                            </div>
                                <ol class="recovery-breadcamp">
                                    <li>
                                <a asp-controller="home" asp-action="index">@_localizer.GetValue("Home")</a>
                                    </li>
                                    <li>
                                <i class="fa-solid fa-angle-right">@_localizer.GetValue("ForgotPassword")</i>
                                    </li>
                                    <li>
                                        <span>Şifrəni unutdum</span>
                                    </li>
                                </ol>
                        </div>
                        <div class="password-block-body">
                            <div class="password-card">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="password-card-header">
                                            <img src="https://limak.az/new_front/assets/img/icons/lock.svg" alt="">
                                        <h2>@_localizer.GetValue("PasswordRecovery")</h2>
                                        </div>
                                    <form method="post" class="recovery-form" asp-controller="account" asp-action="ForgotPassword">
                                        <label asp-for="Email">@_localizer.GetValue("AddEmailAddress")</label>
                                            <input asp-for="Email" type="email" placeholder="E-mail" required="required"
                                                   class="recovery-email-input" >
                                                   <span asp-validation-for="Email" class="text-danger"></span>
                                           
                                            <div class="password-recoveryBtn">
                                            <button class="recoveryBtn" type="submit">@_localizer.GetValue("Send")</button>
                                            <a class="btn btn-secondary" asp-controller="home" asp-action="index">@_localizer.GetValue("Back")</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="password-card-right recovery-card-right">
                                            <img src="https://limak.az/new_front/assets/img/forgetpass-image.svg"
                                                 class="card-img-password" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>