@model LoginDto
@inject AccountLocalizer _localzier;

@{
    ViewData["Template"] = "Template2";
}
<main id="main"
      style="background: url('@Url.Content("~/assets2/images/limak_bg.jpg")') no-repeat; background-size: 100%; background-position: top center;"
      class="bg-full">
    <div class="main-container">
        <div class="login-sec">
            <div class="block">
                <!-- Block Header -->
                <div class="block-header">
                    <h2 class="title page-title"> @_localzier.GetValue("LOGIN")</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">@_localzier.GetValue("Home")</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span> @_localzier.GetValue("LoginLowerCase")</span>
                        </li>
                    </ul>
                </div>
                <div class="block-body">
                    <div class="card card-auth card-reg mb-20">
                        <div class="modal-content">
                            <div class="modal-body">
                                <div class="modal-site">
                                    <div class="login">
                                        <div class="block">
                                            <div class="block-body">
                                                <div class="card card-auth mb-20">
                                                    <div class="row">
                                                        <div class="col-md-8 col-12">
                                                            <div class="card-auth-header" style="margin-bottom:auto">
                                                                <img src="~/assets2/images/user-color.svg" alt=""
                                                                     class="card-auth-icon">
                                                                <h1 class="card-auth-title upper">
                                                                    @_localzier.GetValue("LOGIN")
                                                                </h1>
                                                            </div>
                                                            <form asp-controller="account" asp-action="login" method="post" class="card-auth-form">
                                                                <div asp-validation-summary="ModelOnly"></div>
                                                                <input asp-for="Email" id="login-email" name="email" type="email"
                                                                       placeholder="@_localzier.GetValue("EmailAddress")*" required="required"
                                                                       aria-required="true" class="form-control">
                                                                <span asp-validation-for="Email" class="text-danger"></span>
                                                                <div role="group" class="input-group">
                                                                    <input id="login-password" name="password"
                                                                           type="password" placeholder="@_localzier.GetValue("Password")*"
                                                                           required="required" aria-required="true"
                                                                           class="form-control">
                                                                    @* <a class="visiblity-btn-password showPass">
                                                                        <span aria-hidden="true"
                                                                              class="show-password hide-eye"></span>
                                                                    </a> *@
                                                                     <span asp-validation-for="Password" class="text-danger"></span> 
                                                                </div>
                                                                <fieldset class="form-group">
                                                                    <div>
                                                                        <div class="row" style="margin:30px">
                                                                            <div class="col-5">
                                                                                <div class="custom-control custom-checkbox">
                                                                                    <input asp-for="RememberMe" type="checkbox"
                                                                                           class="custom-control-input">
                                                                                    <label for=""
                                                                                           class="custom-control-label">
                                                                                        @_localzier.GetValue("RememberMe")
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-7">
                                                                                <div class="text-right">
                                                                                    <a asp-controller="account" asp-action="ForgotPassword" class="form-link">
                                                                                        <img src="~/assets2/images/help.svg"
                                                                                             alt="">
                                                                                        <span>
                                                                                            @_localzier.GetValue("ForgotPassword")
                                                                                        </span>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="login-submit">
                                                                            <button type="submit"
                                                                                    class="btn btn-submit btn-primary">
                                                                                <span>@_localzier.GetValue("LoginLowerCase")</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="login-submit-reg">
                                                                            <a asp-controller="account" asp-action="register"
                                                                               class="btn btn-primary btn-submit">
                                                                                @_localzier.GetValue("Registration")
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-md-4 col-12">
                                                            <div class="card-auth-image text-right">
                                                                <img src="~/assets2/images/login-image.svg" alt=""
                                                                     class="card-img">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
