@model RegisterDto
@inject AccountLocalizer _localizer;
<style>
    .register-card {
        height: auto;
    }

    .text-danger {
        font-size: smaller;
    }

    .middlecontainer {
        margin-bottom: 120px;
    }
</style>
<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">
            <!-- REGISTER FORM Plans -->
            <div class="register-main-pg">
                <div class="register-block">
                    <div class="register-head">
                        <div>
                            <h4>@_localizer.GetValue("Registration")</h4>
                        </div>

                        <ol class="register-breadcamp">
                            <li>
                                <a asp-controller="home" asp-action="index" class="regr-breadcamp-tag">@_localizer.GetValue("Home")</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>@_localizer.GetValue("Registration")</span>
                            </li>
                        </ol>
                    </div>
                    <div class="register-block-body">
                        <div class="register-card">
                            <div class="register-card-head">
                                <img src="" alt="">
                                <h3 class="register-card-head-first">@_localizer.GetValue("Registration")</h3>
                            </div>
                            <form class="form-regr needs-validation" method="post">
                                <div class="row form-regr-main-row">
                                    <div class="col-md-6 col-12 form-con-first-row">
                                        <h3 class="form-title">
                                            @_localizer.GetValue("ProfileInfo")
                                        </h3>
                                        <div class="row">
                                            <div class="col-12">
                                                <select class="regr-form-select-person" asp-for="UserPositionId" asp-items="Model.UserPositions">
                                                    @*  <option disabled="disabled">Secin</option> *@
                                                </select>
                                                <span class="text-danger" asp-validation-for="UserPositionId"></span>
                                            </div>
                                            <div class="col-6">
                                                <input asp-for="Firstname" placeholder="@_localizer.GetValue("Firstname")" class="form-control reg-name" required>
                                                <span class="text-danger" asp-validation-for="Firstname"></span>
                                            </div>
                                            <div class="col-6">
                                                <input asp-for="Lastname" placeholder="@_localizer.GetValue("Lastname")" class="form-control reg-surname" required>
                                                <span class="text-danger" asp-validation-for="Lastname"></span>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Email" placeholder="@_localizer.GetValue("EmailAddress")"
                                                       class="form-control reg-email" id="validationCustom06" required>
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>
                                            <div class="col-12">
                                                <div class="regr-phone-group" role="group">
                                                    <div class="phone-prefix-regr">
                                                        <div class="dropdown b-dropdown btn-group">
                                                            <!-- <button type="button">050</button> -->
                                                            <select class="dropdown-select-prefix" asp-for="NumberPrefixType">
                                                                <option value="50">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">050</a>
                                                                </option>
                                                                <option value="99">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">099</a>
                                                                </option>
                                                                <option value="55">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">055</a>
                                                                </option>
                                                                <option value="51">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">051</a>
                                                                </option>
                                                                <option value="70">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">070</a>
                                                                </option>
                                                                <option value="77">
                                                                    <a href="#" target="_self"
                                                                       class="dropdown-option">077</a>
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input asp-for="PhoneNumber" placeholder="@_localizer.GetValue("Phone")"
                                                           class="form-control reg-phoneNum" id="validationCustom"
                                                           required>
                                                </div>
                                                <span class="text-danger" style="margin-left:10px" asp-validation-for="PhoneNumber"></span>
                                            </div>
                                            <div class="pass col-md-6 col-12">
                                                <input id="password-regr" autocomplete="new-password"
                                                       asp-for="Password" placeholder="@_localizer.GetValue("Password")"
                                                       required="required">
                                                <a class="visibility-btn-new-password">
                                                    <span class="hide-eye-pas shop-p"></span>
                                                </a>
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                            <div class="pass col-md-6 col-12">
                                                <input id="password-confirmation-regr" asp-for="ConfirmPassword"
                                                       autocomplete="current-password"
                                                       placeholder="@_localizer.GetValue("RepeatPassword")" required="required">
                                                <a class="visibility-btn-password-confirm ">
                                                    <span class="confr-password-show shop-p"></span>
                                                </a>
                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="col-12">
                                                    <select class="delivary-office-regr" asp-for="LocalPointId" asp-items="Model.LocalPoints">
                                                        <option disabled="disabled">@_localizer.GetValue("LocalPoint")</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <select class="notif-type-regr" asp-for="NotificationType">
                                                    <option disabled="disabled">@_localizer.GetValue("NotificationType")</option>
                                                    <option value="1">SMS</option>
                                                    <option value="2">Whatsapp</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12 form-con-second-row">
                                        <h3 class="form-title">
                                            @_localizer.GetValue("PasportInfo")
                                        </h3>
                                        <div class="row">
                                            <div class="col-12">

                                                <div class="col-12">
                                                    <select class="select-nation-regr" asp-for="CitizenShipId" asp-items="Model.CitizenShips">
                                                        @* <option disabled="disabled">Seçin</option> *@
                                                    </select>
                                                    <span class="text-danger" asp-validation-for="CitizenShipId"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="SerialNumber" placeholder="@_localizer.GetValue("SerialNumber")" required="required"
                                                       id="serial-num" class="serial-number form-control">
                                                <span class="text-danger" asp-validation-for="SerialNumber"></span>
                                            </div>
                                            <div class="col-12">
                                                <div>
                                                    <div class="date-input">
                                                        <input asp-for="BirthDate" class="date-input-regr form-control"
                                                               id="validationCustom08" max="2030-01-01"
                                                               required="required">
                                                        <span class="text-danger" asp-validation-for="BirthDate"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <select class="select-gender-regr" asp-for="GenderId" asp-items="Model.Genders">@_localizer.GetValue("Gender")</select>
                                                <span class="text-danger" asp-validation-for="GenderId"></span>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="FinCode" placeholder="FİN*"
                                                       id="regr-fin validationCustom07"
                                                       class="form-control regr-fin-code" required="required">
                                                <span class="text-danger" asp-validation-for="FinCode"></span>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#exampleFin"
                                                   id="Fin">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleFin" tabindex="-1"
                                                     aria-labelledby="exampleFinLabel" aria-hidden="true">
                                                    <div class="modal-dialog pas-img-dialog">
                                                        <div class="modal-content passport-modal">
                                                            <div class="modal-header">
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="passport-images">
                                                                    <img src="https://limak.az/new_front/assets/images/passport/1.svg"
                                                                         alt="">
                                                                    <img src="https://limak.az/new_front/assets/images/passport/2.svg"
                                                                         alt="">
                                                                    <img src="https://limak.az/new_front/assets/images/passport/3.svg"
                                                                         alt="">
                                                                    <img src="https://limak.az/new_front/assets/images/passport/4.svg"
                                                                         alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <input asp-for="Address" id="regr-adress" required="required"
                                                       placeholder="@_localizer.GetValue("Address")" class="form-control">
                                                <span class="text-danger" asp-validation-for="Address"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-regr-footer">
                                        <div class="form-check-checkbox">
                                            <div class="form-check">
                                                <input class="form-check-input" asp-for="IsTermsAccepted" type="checkbox"
                                                       id="invalidCheck" required>
                                                <label class="form-check-label" for="invalidCheck">
                                                    <a id="terms-link" data-bs-toggle="modal"
                                                       data-bs-target="#exampleTermandCondi" required="required">
                                                        @_localizer.GetValue("AcceptTerms")
                                                    </a>
                                                </label>
                                                <br />
                                                <span class="text-danger" asp-validation-for="IsTermsAccepted"></span>
                                                
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-submit btn-primary">
                                            <span>@_localizer.GetValue("Registration")</span>
                                        </button>
                                    </div>

                                    <div class="validation-summary">
                                        <div asp-validation-summary="ModelOnly"></div>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
