@model ResetPasswordDto
@inject AccountLocalizer _localizer;

<style>
    .recovery-email-input{
        padding:15px;
    }
    .text-danger{
        font-size:11px;
        margin:5px 3px 15px;
    }

    .recovery-form{
        gap:0;
    }
</style>
<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">
            <!-- Tariff Plans -->
            <div class="recovery-main-pg">
                <div class="recovery-block password-block">
                    <div class="recovery-head">
                        <div>
                            <h4>@_localizer.GetValue("PasswordRecovery")</h4>
                        </div>
                        <ol class="recovery-breadcamp">
                            <li>
                                <a asp-controller="home" asp-action="index">@_localizer.GetValue("Home")</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>@_localizer.GetValue("ForgotPassword")</span>
                            </li>
                        </ol>
                    </div>
                    <div class="password-block-body">
                        <div class="password-card">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="password-card-header">
                                        <img src="https://limak.az/new_front/assets/img/icons/lock.svg" alt="">
                                        <h2>@_localizer.GetValue("PasswordRecovery")</h2>
                                    </div>
                                    <form method="post" class="recovery-form" asp-controller="account" asp-action="ResetPassword">
                                        <input type="hidden" asp-for="Token" />
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input asp-for="Email" type="email" placeholder="@_localizer.GetValue("EmailAddress")"
                                               class="recovery-email-input">
                                        <span asp-validation-for="Email" class="text-danger"></span>

                                        <input asp-for="NewPassword"  placeholder="@_localizer.GetValue("NewPassword")" 
                                               class="recovery-email-input">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                                        <input asp-for="ConfirmPassword" placeholder="@_localizer.GetValue("RepeatPassword")" 
                                               class="recovery-email-input">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        <div class="password-recoveryBtn">
                                            <button class="recoveryBtn" type="submit">@_localizer.GetValue("Confirm")</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="password-card-right recovery-card-right">
                                        <img src="https://limak.az/new_front/assets/img/forgetpass-image.svg"
                                             class="card-img-password" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>