@model CalculatorDto
@inject CalculatorLocalizer _localizer;
<style>
    .form-calc-btn-ruxel {
        width: 262px;
        height: 40px;
        background: linear-gradient(180deg,#FC7B5D 0%,#F05835 100%);
        font-size: 18px;
        border: none;
        border-radius: 5px;
        color: white;
    }

    input{
        padding-left:6px;
    }

    .weigth-btn button{
        width:40px;
    }
</style>
<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">

            <!-- CALCULATOR Plans -->

            <div class="calculator-main-pg">
                <div class="calculator-block">
                    <div class="calc-head">
                        <div>
                            <h4>@_localizer.GetValue("Calculator")</h4>
                        </div>
                        <ol class="calc-breadcamp">
                            <li>
                                <a asp-controller="home" asp-action="index" class="calc-breadcamp-tag">@_localizer.GetValue("Home")</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>@_localizer.GetValue("Calculator")</span>
                            </li>
                        </ol>
                    </div>
                    <div class="calc-container">
                        <div class="row calc-card-row">
                            <div class="col-lg-8 col-12">
                                <div class="calc-card">
                                    <form class="form-calc" method="post" asp-controller="calculator" asp-action="index">
                                        <div class="form-calc-head">
                                            <div class="form-calc-title">
                                                <img src="https://limak.az/new_front/assets/img/icons/box.svg"
                                                     alt="">
                                                <h3>@_localizer.GetValue("Calculator")</h3>
                                            </div>
                                            <div asp-validation-summary="ModelOnly"></div>
                                            <div class="form-calc-reset">
                                                <button class="calc-resetBtn" type="button" onclick="resetCalculator()">
                                                    <img src="https://limak.az/new_front/assets/img/icons/reset.svg"
                                                         alt="">
                                                    <span>@_localizer.GetValue("ResetCalculator")</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row calc-input">
                                            <div class="col-6">
                                                <select asp-for="CountryId" class="select-region">
                                                    @foreach (var item in Model.Countries)
                                                    {
                                                        <option value="@item.Id">@item.CountryDetails.FirstOrDefault()?.Name</option>

                                                    }
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <select asp-for="LocalPointId" class="select-filial" id="">
                                                    @foreach (var item in Model.LocalPoints)
                                                    {
                                                        <option value="@item.Id">@item.LocalPointDetails.FirstOrDefault()?.Name</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <div>
                                                        <input asp-for="Weight" class="weight" min="0" step="0.001" type="number" name="weight"
                                                               placeholder="@_localizer.GetValue("Weight")">
                                                               
                                                    </div>
                                                    <div class="input-weight">
                                                        <button type="button" class="weigth-btn" style="width:66px">
                                                            kg
                                                        </button>
                                                    </div>
                                                    <span class="text-danger" asp-validation-for="Weight"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <input asp-for="Count" class="input-count" type="number" name="count" min="1"
                                                       placeholder="@_localizer.GetValue("Count")">
                                                <span class="text-danger" asp-validation-for="Count"></span>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <div>
                                                        <input asp-for="Width" type="number" placeholder="@_localizer.GetValue("Width")">
                                                    </div>
                                                    <div class="input-en">
                                                        <button type="button" class="weigth-btn" style="width:66px">sm</button>
                                                    </div>
                                                        <span class="text-danger"  asp-validation-for="Width"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <div>
                                                        <input asp-for="Lenght" type="number" placeholder="@_localizer.GetValue("Length")">
                                                    </div>
                                                    <div class="input-uzun">
                                                        <button type="button" class="weigth-btn" style="width:66px">sm</button>
                                                    </div>
                                                        <span class="text-danger" asp-validation-for="Lenght"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <div>
                                                        <input asp-for="Height" type="number" placeholder="@_localizer.GetValue("Height")">
                                                    </div>
                                                    <div class="input-height">
                                                        <button type="button" class="weigth-btn" style="width:66px">sm</button>
                                                    </div>
                                                        <span class="text-danger" asp-validation-for="Height"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <select asp-for="MatterType" class="select-region">
                                                    <option value="1">@_localizer.GetValue("Standart")</option>
                                                    <option value="2">@_localizer.GetValue("Liquid")</option>
                                                </select>
                                            </div>
                                            <div class="col-6 total-lbl">
                                                <div class="calc-total">
                                                    <div class="total-label">
                                                        <span>@_localizer.GetValue("Result"):</span>
                                                    </div>
                                                    <div class="total-price total">
                                                        <span class="all-count">
                                                            @if (Model.TotalPriceInAzn > 0)
                                                            {
                                                                @:AZN @Model.TotalPriceInAzn.ToString("0.00") | $@Model.TotalPriceInUsd.ToString("0.00")
                                                            }
                                                            else
                                                            {
                                                                @:AZN 0.00 | $0.00
                                                            }
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12 calc-Btn">
                                                <button type="submit" class="form-calc-btn-ruxel">@_localizer.GetValue("Calculate")</button>
                                            </div>
                                            <div class="col-sm-6 col-12 calc-info-icn">
                                                <div class="form-info"
                                                     tooltip='@_localizer.GetValue("Tooltip")'>
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-12">
                                <partial name="_RateExchangePartial"></partial>
                            </div>
                        </div>
                        <div class="currency-card-info">
                            <h3 class="card-info-title">@_localizer.GetValue("Note"):</h3>
                            <p>
                                @_localizer.GetValue("NoteText")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    function resetCalculator() {
        
        const inputs = document.querySelectorAll('.form-calc input, .form-calc select');
        inputs.forEach(input => {
            if (input.type === 'number') {
                input.value = '';  
            } else if (input.type === 'select-one') {
                input.selectedIndex = 0;  
            }
        });

        const totalPrice = document.querySelector('.total-price .all-count');
        if (totalPrice) {
            totalPrice.textContent = 'AZN 0.00 | $0.00'; 
        }
    }

</script>