@model HomeGetDto
@inject HomeLocalizer _localizer;


<style>
    .news-block {
        height: auto;
    }

    .tariff-main-pg {
        height: 700px;
    }
</style>


<div class="main-middle-content">
    <!-- First Top slider -->
    <div class="customcontainer top-slider">
        <div class=" imgCarousel" style="position: relative; width: 100%; height: 300px; overflow: hidden;">
            @foreach (var item in Model.Sliders.Items)
            {
                <a class="img-card">
                    <img src="@item.ImagePath" alt="" style="width: 100%; height: 300px; object-fit: cover;">
                </a>
            }
        </div>

    </div>

    <!-- Middle Sections -->
    <div>
        <!-- Orden section(sifarish et) -->
        <div class="customcontainer order-sc d-flex justify-content-center">
            <div class="tracking-form">
                <h4 class="order-inf">@_localizer.GetValue("EasyOrder")</h4>
                <form asp-controller="order" asp-action="CreateFromLink" class="order-form" method="post">
                    <div class="row-div">
                        <div class="form-group form-inp">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z" />
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z" />
                            </svg>
                            <input name="orderLink" class="order-inp" type="text" placeholder="@_localizer.GetValue("AddLink")">
                        </div>
                        <div class="form-group  ">
                            <button class="main-order-btn login-btn " type="submit">
                                <span class="login-tag">@_localizer.GetValue("Order")</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <!-- Middle Section -->
        <div class="middlecontainer">

            <!-- Markets section -->
            <div class="market-main-pg">
                <div class="home">
                    <div class="block-market">
                        <div class="markets-header">
                            <h4>@_localizer.GetValue("Shops")</h4>
                        </div>
                        <div class="markets-body">
                            <div class="store-list">
                                <div class="row store-list-items ">
                                    @foreach (var item in Model.Shops.Items)
                                    {

                                        <a href="@item.Link" class="col-6 col-md-4 col-sm-4">
                                            <div class="store-item">
                                                <img src="@item.ImagePath" alt="">
                                            </div>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="markets-foot">
                            <a asp-controller="shops" class="more-btn">
                                @_localizer.GetValue("More")
                                <i class="fa-solid fa-arrow-right-long"></i>
                            </a>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <!-- News section(xeberler) -->
            <div class="news-main-pg">
                <div class="news-block">
                    <div class="news-head">
                        <h4>@_localizer.GetValue("NewsAndUpdates")</h4>
                    </div>
                    <div class="news-body">
                        <div class="news-list-items">
                            <div class=" main-pg-news">
                                @foreach (var item in Model.News.Items)
                                {

                                    <div class="news-card-1  col-xl-3 col-xxl-3 col-sm-6 col-12 col">
                                        <a asp-controller="news" asp-action="details" asp-route-id="@item.Id" class="news-card">
                                            <div class="card-text">
                                                <img src="@item.ImagePath" style="width: 240px;height: 168px;object-fit: cover"
                                                     alt="Yeni il bayraminiz mubarek!">
                                                <div class="card-body">
                                                    <span class="card-text-head" style="padding:3px">@item.NewsDetails.FirstOrDefault()?.Title</span>
                                                    <p class="card-date">
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        <span>@item.UpdatedAt</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="news-foot">
                        <a asp-controller="news" class="more-btn ">
                            @_localizer.GetValue("More")
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Tariff Plans -->
            <partial name="_TariffPartial" model="@Model.Tariffs"></partial>

            <!-- Sertificates Section -->
            <div class="sertf-main-pg">
                <div class="sertf-block">
                    <div class="sertf-head">
                        <h4>@_localizer.GetValue("CertificatesAndNews")</h4>
                    </div>
                    <div class="mySwiper">
                        <div class="sertf-body">
                            @foreach (var item in Model.Certificates.Items)
                            {

                                <div class="sertf-card swiper-slide">
                                    <a class="sertf-card-tag" href="@item.Link">
                                        <img src="@item.ImagePath" alt="">
                                    </a>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>

            <div style="height: 80px;"></div>

        </div>
    </div>
</div>