@model NewsDetailsUiDto    
@inject NewsLocalizer _localizer;
@inject ILayoutService _layoutService;
@{
    var settings = await _layoutService.GetSettingsDictionary();
}
<div class="main-middle-content">

    <!-- Middle Sections -->
    <div>
        <!-- Middle Section -->
        <div class="middlecontainer">
            <!-- Tariff Plans -->
            <div class="news-list">
                <div class="news-details-block">
                    <div class="news-details-head">
                        <div>
                            <h4>@_localizer.GetValue("NewsAndUpdates")</h4>
                        </div>
                        <ol class="news-details-breadcamp">
                            <li>
                                <a asp-controller="home" asp-action="index">@_localizer.GetValue("Home")</a>
                            </li>
                            <li>
                                <i class="fa-solid fa-angle-right"></i>
                            </li>
                            <li>
                                <span>@_localizer.GetValue("News")</span>
                            </li>
                        </ol>
                    </div>
                    <div class="row news-details-row">
                        <div class="details-row col-md-8 col-12">
                            <article class="card news-card-details">
                                <img src="@Model.SelectedNews?.ImagePath" alt="">
                                <div class="news-card-body">
                                    <h4 class="news-card-title">@Model.SelectedNews?.NewsDetails.FirstOrDefault()?.Title</h4>
                                    <p class="card-text">
                                    <p class="news-card-text">
                                        <span>
                                                @Model.SelectedNews?.NewsDetails.FirstOrDefault()?.Description
                                        </span>
                                    </p>
                                    
                                    <div class="news-details-footer">
                                        <p class="news-card-date">
                                            <img src="https://limak.az/new_front//assets/img/icons/calendar.svg" alt="">
                                            <span>@Model.SelectedNews?.UpdatedAt</span>
                                        </p>
                                        <div class="news-details-share">
                                            <a class="news-details-share-button" href="@settings["FacebookLink"]">
                                                <img src="https://limak.az/new_front//assets/img/icons/facebook.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="@settings["InstagramLink"]">
                                                <img src="https://limak.az/new_front//assets/img/icons/instagram.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="@settings["TwitterLink"]/">
                                                <img src="https://limak.az/front/new/img/telegram.png" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="@settings["YoutubeLink"]">
                                                <img src="https://limak.az/new_front//assets/img/icons/youtube.svg" alt="">
                                            </a>
                                            <a class="news-details-share-button" href="@settings["TiktokLink"]">
                                                <img src="https://limak.az/new_front//assets/img/icons/tik-tok.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <div class="backBtnBlock">
                                <i class="fa-solid fa-angle-left"></i>
                                <a asp-controller="news" asp-action="index" class="backBtn">@_localizer.GetValue("Back")</a>
                            </div>

                        </div>
                        <div class="details-row col-md-4 col-12">
                            <div class="news-sidebar">
                                <div class="card">
                                    <div class="sidebar-head">
                                        <h3 class="sidebar-head-text">@_localizer.GetValue("OtherNews")</h3>
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </div>
                                    <div class="sidebar-card-list">
                                        @foreach (var item in Model.RecommendedNews ?? [])
                                        {

                                        <a asp-controller="news" asp-action="details" asp-route-id="@item.Id" class="news-card">
                                            <div class="news-side-bar-article" style="display:block">
                                                <img src="@item.ImagePath"
                                                     class="card-img-left" alt="">
                                                <div class="news-sidebar-article-body">
                                                        <h4 class="card-title">@item.NewsDetails.FirstOrDefault()?.Title</h4>
                                                    <p class="news-card-date-sidebar">
                                                       
                                                        <span>@item.UpdatedAt</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                            
                                        }
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

