@model UserPasswordUpdateDto
@{
    ViewData["Template"] = "Template2";
}

@inject UserPanelLocalizer _localizer;
<!-- Main Start -->
<main id="main"
style="background: url('@Url.Content("~/assets2/images/limak_bg.jpg")')no-repeat; background-size: 100%; background-position: top center;"
class="bg-full">
    <div class="main-container" style="max-width: 114rem;">
        <section id="user-panel">
            <div class="block">
                <div class="block-header">
                    <h2 class="block-title" style="font-size: 17px;text-transform: uppercase;">
                        @_localizer.GetValue("UserPanel")
                    </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="home" asp-action="index">@_localizer.GetValue("Home")</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <span>@_localizer.GetValue("UserPanel")</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!-- Aside -->
                <div class="col-md-4 col-lg-3 col-12">
                    @await Component.InvokeAsync("UserPanel")
                </div>
                <!-- Content -->
                <div class="col-sm-12 col-md-8 col-lg-9">
                    <div>
                        <div class="content">
                            <div class="row">
                                <div>
                                    <ul id="headerList" class="nav nav nav-tabs card-tabs-nav">
                                        <li class="nav-item">
                                            <a asp-action="UpdateProfile" class="nav-link">
                                                <span class="card-tabs-nav-title">
                                                    @_localizer.GetValue("ProfileInfo")
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-item card-tabs">
                                            <a asp-action="UpdatePassword" class="nav-link active">
                                                <span class="card-tabs-nav-title">@_localizer.GetValue("Password")</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content card-tabs-body">
                               
                                <div class="tab-pane active active-tab">
                                    <div class="card order-item order-item-safety">
                                        <div class="card-body custom-padding">
                                            <form asp-controller="userpanel" asp-action="UpdatePassword" method="post" class="form-safety">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-12">
                                                        <div class="card-step">
                                                            <h3 class="step-title upper">@_localizer.GetValue("CurrentPassword")</h3>
                                                            <div role="group" class="input-group search">
                                                                <input asp-for="Password" id="currentPass" type="password"
                                                                       placeholder="@_localizer.GetValue("Password")" required="required"
                                                                       aria-required="true" class="form-control">
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-info"
                                                                            id="eyeBtn">
                                                                        <i class="far fa-eye-slash"></i>
                                                                    </button>
                                                                </div>
                                                                <span class="text-danger" asp-validation-for="Password"></span>

                                                            </div>
                                                        </div>
                                                        <div class="card-step custom-card-step">
                                                            <h3 class="step-title upper">@_localizer.GetValue("NewPassword")</h3>
                                                            <input asp-for="NewPassword" id="newPass" type="password" placeholder="@_localizer.GetValue("Password")"
                                                                   required="required" aria-required="true"
                                                                   class="form-control" aria-autocomplete="list">
                                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                                            <input asp-for="ConfirmPassword" id="newPassRepeat" type="password"
                                                                   placeholder="@_localizer.GetValue("RepeatPassword")" required="required"
                                                                   aria-required="true" class="form-control">
                                                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                                        </div>
                                                        <button type="submit"
                                                                class="btn btn-submit btn-primary ">
                                                            <span>
                                                                @_localizer.GetValue("Save")
                                                            </span>
                                                        </button>
                                                        <span style="color:green;margin-left:30px;font-weight:700">@ViewBag.SuccessMessage</span>
                                                    </div>
                                                    <div class="col-lg-6 col-12">
                                                        <div class="form-password-info h100">
                                                            <div class="text-center">
                                                                <img src="~/assets2//images//safety.svg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- Main End -->