@using System.Security.Claims
@model ChatGetDto
<section>
    <div class="container py-5">

        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center p-3"
                         style="border-top: 4px solid #ffa900;">
                        <h5 class="mb-0">Chat messages</h5>
                        <div class="d-flex flex-row align-items-center">
                            <span class="badge bg-warning me-3">20</span>
                            <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                            <i class="fas fa-comments me-3 text-muted fa-xs"></i>
                            <i class="fas fa-times text-muted fa-xs"></i>
                        </div>
                    </div>
                    <div class="card-body" data-mdb-perfect-scrollbar-init style="position: relative; height: 400px;overflow-y: auto; scroll-behavior: smooth">

                        @foreach (var message in Model.Messages ?? [])
                        {

                            if (message.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier.ToString()))
                            {

                                <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                    <div>
                                        <p class="small mb-1">@message.User?.Firstname</p>
                                        <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">
                                            @message.Text
                                        </p>
                                        <p class="small mb-1 text-muted">@message.CreatedAt</p>
                                    </div>

                                </div>
                            }

                            else
                            {

                                <div class="d-flex flex-row justify-content-start">
                                    <img src="https://res.cloudinary.com/dsclrbdnp/image/upload/v1737221604/LimakAz/ecl6whxnykpaxnvbnf9q.svg"
                                         alt="avatar 1" style="width: 30px; height: 100%;">
                                    <div>
                                        <p class="small mb-1">Moderator</p>
                                        <p class="small p-2 ms-3 mb-3 rounded-3 bg-body-tertiary">
                                            @message.Text
                                        </p>
                                        <p class="small mb-1 text-muted">@message.CreatedAt</p>
                                    </div>
                                </div>
                            }

                        }

                    </div>
                    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                        <form method="post" class="sendMessageForm" asp-controller="chat" asp-action="sendmessage" asp-route-chatId="@Model.Id">
                            <div class="input-group mb-0">
                                <input name="text" type="text" class="form-control messageInput" placeholder="Type message"
                                       aria-label="Recipient's username" aria-describedby="button-addon2" />
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-warning" type="submit" id="button-addon2" style="padding-top: .55rem;">
                                    Button
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const chatBody = document.querySelector('.card-body');
        chatBody.scrollTop = chatBody.scrollHeight;

    const form = document.querySelector(".sendMessageForm");
    const message = document.querySelector(".messageInput");
    const chat = document.querySelector(".card-body");
    const chatId = @Model.Id;


    form.addEventListener('submit', async (e) =>{
        e.preventDefault();
        const text = message.value;
    console.log("chat Id is : " + chatId);
           console.log("text is : " + text);

          const response = await fetch( `/Chat/SendMessage?chatId=${chatId}&text=${text}` ,
          {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
          });

    const data = await response.json();

    console.log(data);

    var div = `
    <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                                    <div>
                                        <p class="small mb-1">${data.fullname}</p>
                                        <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-warning">
                                           ${data.text}
                                        </p>
                                        <p class="small mb-1 text-muted">${data.sendAt}</p>
                                    </div>

                                </div> `

                                chat.innerHTML += div;
                                chatBody.scrollTop = chatBody.scrollHeight;

                                message.value = "";
                                // messageInput.blur();




    })


        });
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.7/signalr.min.js"></script>