@model ContentCreateDto

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Yarat
            </p>
            <form method="post" class="forms-sample" enctype="multipart/form-data">

                <div class="text-danger" asp-validation-summary="ModelOnly"></div>

                <input asp-for="@Model.ContentDetails[0].LanguageId" value="1" type="hidden" />
                <div class="form-group">
                    <label asp-for="@Model.ContentDetails[0].Key">Azərbaycanca başlıq</label>
                    <textarea asp-for="@Model.ContentDetails[0].Key" required class="form-control" rows="5" placeholder="Dəyər daxil edin"></textarea>
                    <span asp-validation-for="@Model.ContentDetails[0].Key" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ContentDetails[0].Value">Azərbaycanca kontent</label>
                    <textarea asp-for="@Model.ContentDetails[0].Value" required class="form-control" rows="5" placeholder="Dəyər daxil edin"></textarea>
                    <span asp-validation-for="@Model.ContentDetails[0].Value" class="text-danger"></span>
                </div>
                <hr />

                <input asp-for="@Model.ContentDetails[1].LanguageId" value="2" type="hidden" />
                <div class="form-group">
                    <label asp-for="@Model.ContentDetails[1].Key">Rusca başlıq</label>
                    <textarea asp-for="@Model.ContentDetails[1].Key" required class="form-control" rows="5" placeholder="Dəyər daxil edin"></textarea>
                    <span asp-validation-for="@Model.ContentDetails[1].Key" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ContentDetails[1].Value">Rusca kontent</label>
                    <textarea asp-for="@Model.ContentDetails[1].Value" required class="form-control" rows="5" placeholder="Dəyər daxil edin"></textarea>
                    <span asp-validation-for="@Model.ContentDetails[1].Value" class="text-danger"></span>
                </div>

                <label for="PageType">Page Type</label>
                <select id="PageType" name="PageType" class="form-control">
                    <option value="">-- Select Page Type --</option>
                    <option value="1" selected>Terms</option>
                    <option value="2">Privacy</option>
                    <option value="3">FAQ</option>
                </select>
                <span asp-validation-for="PageType" class="text-danger"></span>
                <button type="submit" class="btn btn-primary mr-2">Yarat</button>

                <a class="btn btn-light" asp-action="Index">Ləğv et</a>

            </form>
        </div>
    </div>
</div>




