@model UserPanelSidebarGetDto
@inject UserPanelLocalizer _localizer;
<aside class="aside">
    <div class="card">
        <div class="card-body">
            <div class="list-group user-nav ">
                <div class="list-group-item mt-0">
                    <i class="far fa-user"></i>
                    <h3 class="user-nav-title upper">
                        @Model.Fullname
                    </h3>
                </div>
                <div class="list-group-item">
                    <i class="far fa-user-circle"></i>
                    <h3 class="user-nav-title">
                        <span>@_localizer.GetValue("ClientCode")</span>
                        <strong>@Model.Code</strong>
                    </h3>
                </div>
               @*  <div class="list-group-item user-nav-notf">
                    <a href="notification.html">
                        <i class="fas fa-bell"></i>
                        <h3 class="user-nav-title">
                            Bildirişlər
                        </h3>
                    </a>
                </div> *@
                

            </div>
            
            <div class="list-group aside-nav-top">
               @*  <div class="list-group-item aside-nav mt-0">
                    <a href="user-panel.html">
                        <i class="fas fa-shopping-bag"></i>
                        <h3 class="aside-nav-title">Sifarişlər</h3>
                    </a>
                </div> *@
                
                <div class="list-group-item aside-nav">
                    <a asp-controller="userpanel" asp-action="packages">
                        <i class="fas fa-box-open"></i>
                        <h3 class="aside-nav-title">@_localizer.GetValue("Packages")</h3>
                    </a>
                </div>
                <div class="list-group-item aside-nav">
                    <a asp-controller="userpanel" asp-action="abroadaddresses">
                        <i class="fas fa-thumbtack"></i>
                        <h3 class="aside-nav-title">@_localizer.GetValue("AbroadAddresses")</h3>
                    </a>
                </div>
                
            </div>
            <div class="list-group aside-account">
                <div class="list-group-item aside-nav">
                    <a asp-controller="userpanel" asp-action="UpdateProfile">
                        <i class="fas fa-user-cog"></i>
                        <h3 class="aside-account-title">
                            @_localizer.GetValue("Settings")
                        </h3>
                    </a>
                </div>
                <div class="list-group-item-middle">
                    <a href="https://limak.az/#/notfic" class="list-group-item aside-nav"
                       type="button"
                       data-bs-toggle="modal"
                       data-bs-target="#logoutModalmobile">
                        <i class="fas fa-power-off"></i>
                        <h3 class="aside-nav-title">@_localizer.GetValue("Exit")</h3>
                    </a>
                </div>
                <!-- Modal Logout -->
                <div class="modal fade" id="logoutModalmobile" tabindex="-1"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class=" modal-logout-head">
                                <h1 class="modal-title logout-modal-title fs-5"
                                    id="exampleModalLabel">
                                    @_localizer.GetValue("Attention")
                                </h1>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body logout-modal-body">
                                <div class="logout-modal-content">
                                    <img src="https://limak.az/new_front/assets/img/SehifeYuklenmedi.png"
                                         alt="">
                                    <h4 class="logout-content-title">
                                        @_localizer.GetValue("AreYouSure")
                                    </h4>
                                </div>
                            </div>
                            <div class="modal-footer-logout">
                                <button type="button" class="btn btn-secondary btn-xeyr"
                                        data-bs-dismiss="modal">
                                    @_localizer.GetValue("No")
                                </button>
                                @* <button asp-controller="account" asp-action="logout" type="button" class="btn btn-secondary btn-xeyr">
                                    XEYR
                                </button> *@
                                <a asp-controller="account" asp-action="logout" class="btn btn-primary btn-beli text-center " style="padding:inherit">
                                    @_localizer.GetValue("Yes")
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-custom">
        <partial name="_RateExchangePartial" />
    </div>
</aside>